<div id="credits">
	2013-2015 © <a href="https://twitter.com/javi6d6">Javier Vaquero</a> <br>
	<%= __('components.credits.codeOn') %> <a href="https://github.com/hangorn/MagneticPuzzleCubeV2">GitHub</a>
</div>