<div class="mediumDialog dialog">
	<div class="dialogContainer">
		<p class="finishedLevelText"></p>
		<div>
			<input type="button" value="ver puzzle solucionado" class="watch">
			<input type="button" value="reiniciar nivel" class="restart">
			<input type="button" value="siguiente nivel" class="next">
		</div>
	</div>
</div>
<div class="transparentForeground"></div>
