<div class="mediumDialog dialog">
	<div class="dialogContainer">
		<p class="finishedLevelText"></p>
		<div>
			<input type="button" value="<%= __('buttons.watchSolvedPuzzle') %>" class="watch">
			<input type="button" value="<%= __('buttons.restartLevel') %>" class="restart">
			<input type="button" value="<%= __('buttons.nextLevel') %>" class="next">
		</div>
	</div>
</div>
<div class="transparentForeground"></div>
