<div class="langMenu">
	<ul>
		<li><a href="/lang/es"><img class="langMenuItem" alt="<%= __('lang.es') %>"  title="<%= __('lang.es') %>" src="img/lang/es.png" /></a></li>
		<li><a href="/lang/en"><img class="langMenuItem" alt="<%= __('lang.en') %>"  title="<%= __('lang.en') %>" src="img/lang/en.png" /></a></li>
	</ul>
</div>