<div class="mediumDialog dialog">
	<div class="dialogContainer">
		<p class="saveDialogText"></p>
		<p style="margin-bottom: 0">Introduzca su nombre :</p>
		<input type="text" class="saveDialogInput">
		<div>
			<input type="button" value="Cancelar" class="saveDialogCancel">
			<input type="button" value="Aceptar" class="saveDialogOK">
		</div>
	</div>
</div>
<div class="transparentForeground"></div>
