<div class="mediumDialog dialog">
	<div class="dialogContainer">
		<p class="saveDialogText"></p>
		<p style="margin-bottom: 0"><%= __('components.saveScore.name') %> :</p>
		<input type="text" class="saveDialogInput">
		<div>
			<input type="button" value="<%= __('buttons.cancel') %>" class="saveDialogCancel">
			<input type="button" value="<%= __('buttons.accept') %>" class="saveDialogOK">
		</div>
	</div>
</div>
<div class="transparentForeground"></div>
