<div class="smallDialog dialog">
	<div class="dialogContainer">
		<div>
			<p></p>
		</div>
		<img alt="<%= __('words.loading') %>" src="../img/loading.gif">
		<input type="button" value="<%= __('buttons.cancel') %>" class="waitingDialogCancel">
	</div>
</div>
<div class="transparentForeground"></div>