<div class="msgMenu">
	<h1>Modo Clásico</h1>
	<p>Se debera resolver el puzzle, cronometrandose cuanto tiempo se emplea en ello. Se pueden
		elegir las imagenes del puzzle haciendo click en 'personalizar imagenes'.</p>
	<div>
		Elige el número de piezas del puzzle:
		<fieldset>
			<input type="radio" id="cubes27classic" checked="checked" name="cubesNumber">
			<label for="cubes27classic">27 cubos</label>
			<input type="radio" id="cubes8classic" name="cubesNumber">
			<label for="cubes8classic">8 cubos</label>
		</fieldset>
	</div>
</div>