<div class="menu">
	<form>
		<%- include(menu); %>
		<div class="buttonsMenu">
			<input type="button" name="back" value="<%= __('buttons.back') %>">
			<input type="button" name="library" value="<%= __('buttons.library') %>">
			<input type="button" name="start" value="<%= __('buttons.start') %>">
		</div>
	</form>
</div>