<div class="menu">
	<form>
		<%- include(menu); %>
		<div class="buttonsMenu">
			<input type="button" name="back" value="atras">
			<input type="button" name="library" value="personalizar imagenes">
			<input type="button" name="start" value="empezar">
		</div>
	</form>
</div>