<div class="menu">
	<form>
		<div class="msgMenu">
			<h1>Buscar Partida</h1>
			<p>Selecciona una de las partidas que ya estan creadas:</p>
			<div class="menuContainer">
				<table>
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Tipo</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
		<input type="button" name="refresh" value="VOLVER A BUSCAR PARTIDAS" class="rightContainer bold">
		<div class="buttonsMenu">
			<input type="button" name="back" value="atras">
			<input type="button" name="start" value="empezar">
		</div>
	</form>
</div>