<div class="menu">
	<form>
		<h1>Opciones</h1>
		<div class="menuContainer list expandedList">
			<table>
				<tbody>
					<tr>
						<td>sensibilidad de giro:</td>
						<td><input type="range" name="sensitivitySlide" min="1" max="10" step="0.5"> <input
								type="number" name="sensitivityText" size="3" min="1" max="10" maxlength="2"></td>
					</tr>
					<tr>
						<td><span for="audioHelpCheckID">activar ayuda con sonidos: </span></td>
						<td><input type="checkbox" name="audioHelpCheck" id="audioHelpCheckID"></td>
					</tr>
					<tr>
						<td>mover (traslacion):</td>
						<td><input type="radio" name=movOpt id="movOptLeftClick"> <label
								for="movOptLeftClick">boton izquierdo</label> <input type="radio" name=movOpt
								id="movOptRigthClick"> <label for="movOptRigthClick">boton derecho</label></td>
					</tr>
					<tr>
						<td>girar (rotacion):</td>
						<td><input type="radio" name=rotOpt id="rotOptLeftClick"> <label
								for="rotOptLeftClick">boton izquierdo</label> <input type="radio" name=rotOpt
								id=rotOptRigthClick> <label for="rotOptRigthClick">boton derecho</label></td>
					</tr>
				</tbody>

			</table>
		</div>
		<div class="buttonsMenu">
			<input type="button" name="cancel" value="cancelar">
			<input type="button" name="accept" value="aceptar">
		</div>
	</form>
</div>