<div class="msgMenu">
	<h1>Modo Supervivencia</h1>
	<p>Se debera resolver el mayor numero de puzzles posibles. Se dispone de un determinado tiempo
		en funcion de la dificultad para resolver cada puzzle. Cada vez que se resuelva un puzzle se
		añadira una cantidad de tiempo. Se pueden elegir las imagenes del puzzle haciendo click en
		'personalizar imagenes', se recomienda elegir al menos 12 imagenes con 8 cubos y 18 con 27
		cubos, para que no haya ninguna imagen repetida, si hay mas de estas se mostraran en los
		siguientes puzzles.</p>
	<div>
		Elige el número de piezas del puzzle:
		<fieldset>
			<input type="radio" id="cubes27survival" checked="checked" name="cubesNumber">
			<label for="cubes27survival">27 cubos</label>
			<input type="radio" id="cubes8survival" name="cubesNumber">
			<label for="cubes8survival">8 cubos</label>
		</fieldset>
	</div>
	<div>
		Elige la dificultad del puzzle:
		<fieldset>
			<input type="radio" id="easySurvival" name="difficulty">
			<label for="easySurvival">facil</label>
			<input type="radio" id="mediumSurvival" checked="checked" name="difficulty">
			<label for="mediumSurvival">medio</label>
			<input type="radio" id="hardSurvival" name="difficulty">
			<label for="hardSurvival">dificil</label>
			<input type="radio" id="hopelessSurvival" name="difficulty">
			<label for="hopelessSurvival">imposible</label>
		</fieldset>
	</div>
</div>