<div class="msgMenu">
	<h1>Modo Contrareloj</h1>
	<p>Se debera resolver el puzzle antes de que se agote el tiempo, determinado en funcion de la
		dificultad seleccionada. Se pueden elegir las imagenes del puzzle haciendo click en 'personalizar
		imagenes'.</p>
	<div>
		Elige el número de piezas del puzzle:
		<fieldset>
			<input type="radio" id="cubes27trial" checked="checked" name="cubesNumber">
			<label for="cubes27trial">27 cubos</label>
			<input type="radio" id="cubes8trial" name="cubesNumber">
			<label for="cubes8trial">8 cubos</label>
		</fieldset>
	</div>
	<div>
		Elige la dificultad del puzzle:
		<fieldset>
			<input type="radio" id="easyTrial" name="difficulty">
			<label for="easyTrial">facil</label>
			<input type="radio" id="mediumTrial" checked="checked" name="difficulty">
			<label for="mediumTrial">medio</label>
			<input type="radio" id="hardTrial" name="difficulty">
			<label for="hardTrial">dificil</label>
			<input type="radio" id="hopelessTrial" name="difficulty">
			<label for="hopelessTrial">imposible</label>
		</fieldset>
	</div>
</div>